@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}
.social {
  display: none;
}
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}
#img {
  max-height: 50px;
  max-width: 50px;
  width: 50px;
  height: 34px;
  font-size: small;
  padding: 0;
}

ul {
  list-style-type: none;    
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  border-radius: 1.5em;
  padding: 0;
}

.top-bar, .bottom-bar {
  font-size: larger;
  background-color: #8E82D8;

}

.top-bar a, .bottom-bar a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

header .logo {
  color: #F1ECA4;
  font-weight: bold;
  font-size: larger;
  padding: 1em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.social-top, .hero-design {
  display: none;
}

.hero {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 6em;
}

.meet {
  font-size: large;
  color: #B896FC;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #c9c3f0c4;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #a67cfa;
  letter-spacing: .2em;
  font-size: .85em;
}

.title {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: #000000;
  margin-top: 2em;
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background: #5a5959;
}

.skills-container ul li {
  background: #ffffff;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: -1em;
}

.skills-title {
  margin-top: -10px;
  padding: 10px;
  border-radius: 1em;
  background-color: #8E82D8;
  font-weight: bold;
  color: white;
}

.featured-desc {
  margin-bottom: 2em;
  
}

.contact-me {
  background-color: black;
  padding: 2em;
  text-align: center;
}

.contact-me a {
  color: #8E82D8;
}
#inside {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  height: auto;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    
}
@media only screen and (min-width: 800px) {
  .featured {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    grid-gap: 2em;
  }
  .social {
    display: none;
  }
  .skills {
    align-items: center;
    margin-top: -6.5em;
    margin-bottom: -7em;
    padding-top: 2em;
  }
  .skills-container ul {
    
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[];
        grid-template-columns: repeat(3, 30%);
    grid-gap: 4em;
  }
}
  
#inside {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
  height: auto;
  color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;   
}

@media only screen and (min-width: 1200px){
  .top-bar {
    display: grid;
    grid-template-columns: 70% auto;
    background: unset;
    }
    header {
      background: #8E82D8;
      padding: 1em 2em 1em 4em;
    }
    section {
      padding: 4.3em;
    }
    .social {
      display: block; 
    }
    ol {
      list-style-type: none; 
    }
    #imgs {
      text-align: center;
      width: 90px;
      padding: 10px;
    }
    .hero {
      display: grid;
      grid-template-columns: 70% auto;
      background: unset;
      padding: 0;      
    }
    .contant {
      background: black;
      padding: 10em 10em 13em 9em;
      text-align: left;
    }
    .meet {
      text-align: left;
    }
    .contant h1 {
      font-size: 3em;
    }
    .hero-design {
      display: unset;
      margin-left: -49.3%;
      margin-top: 10%;
      width: 100%;
    }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(264px, 780px);
    z-index: 5;
  }
  to {
    transform: translate(264px, 810px);
    
  }
}